<mat-card class="container">
  <mat-card-header id="left">
    <mat-card-title><h1>Register as a Teacher in Minerva</h1></mat-card-title>
    <mat-card-subtitle><h1>Just respond this form</h1></mat-card-subtitle>
  </mat-card-header>
  <mat-card-content> 
  <div class="right">
  
  <div>
  <input mat-input type="text" name="username" placeholder="Username" autocomplete="off">
  </div>
  <div>
  <input mat-input type="email" name="email" placeholder="email" autocomplete="on">
  </div>
  <div>
    <input mat-input type="tel" name="wpp" placeholder="wpp" autocomplete="on">
  </div>
  <div>
    <textarea name="bio" id="bio" placeholder="Write your bio"  required></textarea>
  </div>
  <div>
    <input mat-input type="number" min="1" step="any"name="perhour" placeholder="perhour" autocomplete="on">
  </div>
  <div class="select-block">
    <h1>Weekday</h1>
    <section>
      <mat-checkbox class="example-margin" >Mon</mat-checkbox>
      <mat-checkbox class="example-margin" >Tue</mat-checkbox>
      <mat-checkbox class="example-margin" >Wed</mat-checkbox>
      <mat-checkbox class="example-margin" >Thu</mat-checkbox>
      <mat-checkbox class="example-margin" >Fri</mat-checkbox>
    </section>
  </div>
  <div>
    <h1>Language</h1>
      <mat-checkbox class="example-margin" >English</mat-checkbox>
      <mat-checkbox class="example-margin" >Spanish</mat-checkbox>
      <mat-checkbox class="example-margin" >Mandarin</mat-checkbox>
      <mat-checkbox class="example-margin" >French</mat-checkbox>
      <mat-checkbox class="example-margin" >Japanese</mat-checkbox>
      <mat-checkbox class="example-margin" >Portuguese</mat-checkbox>
      <mat-checkbox class="example-margin" >German</mat-checkbox>
    
  </div>
  <div class="buttons">
    <button mat-button>Register</button>
  </div>
</div>
</mat-card-content>
</mat-card>