<div class="all">
  <div class="cards">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar class="example-header-image">
        </div>
        <mat-card-title>Paul</mat-card-title>
        <mat-card-subtitle>Kozaki</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>Language:English
        </p><br>
        <p >
          Hi, im Kozaki a Canadian-japanese teacher of English, French and Japanese,
        </p>
        <p>Value per Hour:25USD</p>

      </mat-card-content>
      <mat-card-actions>
        <button mat-button>Contact</button>
      </mat-card-actions>
    </mat-card>
</div>