.container{
}
.logo-container{
  background:white;
  margin-top:4px;
}
.buttons-container{
  margin-top:4px;
  background: white;
}
button, h2{
  font-family: 'opendyslexic';
  src: url('http://dyslexicfonts.com/fonts/OpenDyslexic-Regular.otf');
  font-size: 25px;
  color: rgb(216, 213, 213);
}
h2{
  font-size:50px;
  color: #93D2F5
}
button:hover{
  background:#93D2F5
}
  
