
<header class="block">
    
    <ul class="header-menu horizontal-list">
        <li>
            <img routerLink="/" routerLinkActive="active" alt="Logo" width="200px"src="/assets/logo.png">
        </li>
        <li>
            <a class="header-menu-tab" routerLink="/study" routerLinkActive="active"><span class="icon fontawesome-envelope scnd-font-color"></span><mat-icon>class</mat-icon></a>
        </li> 
        <li>
            <a class="header-menu-tab" routerLink="/feed" routerLinkActive="active"><span class="icon fontawesome-envelope scnd-font-color"></span><mat-icon>group</mat-icon></a>
        </li> 
        <li>
            <a class="header-menu-tab" routerLink="/teach" routerLinkActive="active"><span class="icon fontawesome-envelope scnd-font-color"></span><mat-icon>school</mat-icon></a>
        </li>
        
    </ul>
</header>