h1, h2, p, a, span{
    color:rgb(228, 226, 226);
    font-family: 'opendyslexic';
      src: url('http://dyslexicfonts.com/fonts/OpenDyslexic-Regular.otf');
      font-style: normal;
      font-weight: normal;
}
.horizontal-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
	.horizontal-list li {
		float: left;
	}
.profile-picture {
	border-radius: 100%;
	overflow: hidden;
	-webkit-box-sizing: content-box;
  	-moz-box-sizing: content-box;
  	box-sizing: content-box;	
}
.profile-menu {
    float: right;
    height: 80px;
    padding-right: 20px;
}
    .profile-menu p {
        font-size: 17px;
        display: inline-block;
        line-height: 76px;
        margin: 0;
        padding-right: 10px;
    }
        .profile-menu a {
            padding-left: 5px;
        }
            .profile-menu a:hover {
                text-decoration: none;
            }
    .small-profile-picture {
        display: inline-block;
        vertical-align: middle;				
    }
.small-profile-picture {
    border: 2px solid #50597b;
    width: 40px;
    height: 40px;
}
header {
    height: 80px;
}
    .header-menu {
        font-size: 17px;
        line-height: 80px;
    }
        .header-menu li {
            position: relative;
        }
            .header-menu-tab {
                padding: 0 27px;
                display: block;
                line-height: 74px;
                font-size: 17px;
                -webkit-transition: background .3s;
                transition: background .3s;
            }
                .header-menu-tab:hover {
                    background: white;
                    border-bottom: 4px solid #93D2F5;
                    text-decoration: none;
                }
                .header-menu-tab .icon {
                    padding-right: 15px;
                }
            .header-menu-number {
                position: absolute;
                line-height: 22px;
                padding: 0 6px;
                font-weight: 700;
                background: #374fa5;
                border-radius: 100%;
                top: 15px;
                right: 2px;
                -webkit-transition: all .3s linear;
                transition: all .3s linear;
            }
                .header-menu li:hover .header-menu-number {
                    text-decoration: none;
                    -webkit-transform: rotate(360deg);
                    transform: rotate(360deg);

                }

/** CONTAINERS **/
.container {
    float: left;
    width: 300px;
}
    .block {
        margin-bottom: 0px;
        background: #93D2F5;
        border-radius: 5px;
    }